body {
  font: 20px Montserrat;
  font-family:'Courier New';
  line-height: 1.8;
  color: #f5f6f7;
}
p {font-size: 16px;}
.margin {margin-bottom: 30px;}
.bg-1 { 
  background-color: #1abc9c; /* Green */
  color: #ffffff;
  padding-left: 20%;
  padding-right: 20%;
}
.bg-2 { 
  background-color: #474e5d; /* Dark Blue */
  color: #ffffff;
  padding-left: 20%;
  padding-right: 20%;
}
.bg-3 { 
  background-color: #ffffff; /* White */
  color: #000000;
}
.bg-4 { 
  background-color: #2f2f2f; /* Black Gray */
  color: #fff;
}

.container-fluid {
  padding-top: 50px;
  padding-bottom: 50px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav  li a:hover {
  color: #1abc9c !important;
}

* { color:#fff; text-decoration: none;}

.img-circle {
  display: inline;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fab  {
  color: #1abc9c;
}

#about  {
  font-size: larger;
  display: inline-block
}

#quotes {
  font-size: large;
  display: inline-block
}